gradio
moviepy
accelerate==0.32.1
argh
dacite
demucs
diffusers==0.9.0
flask
flask_cors
numpy
pillow>=9.1.0
plotly
pydub
pysoundfile
scipy
soundfile
sox
torch==1.13.1
torchaudio
torchvision
transformers==4.41.2